.my-masonry-grid {
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 12px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 12px;
}

 coluna */
.my-masonry-grid_column:first-child {
  padding-left: 0;
}


@media (max-width: 768px) {
  .my-masonry-grid_column {
    padding-left: 8px;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 8px;
  }
}
